<header>
    <div class="nav-bar">
    <a class="scanapi-logo" href="/"><img src="{{ "/assets/images/logo-white-on-transparent.png" | relative_url }}"/></a>
        <nav class="default-navigation">
            <span class="nav-icon">
                <a href="#" onclick="darkModeTheme()">
                    <!-- <img class="nav-icon" src="assets/images/brightness-6.svg"> -->
                    <svg style="color: #ffffff;vertical-align: middle; width:30px;height:30px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M12,18V6A6,6 0 0,1 18,12A6,6 0 0,1 12,18M20,15.31L23.31,12L20,8.69V4H15.31L12,0.69L8.69,4H4V8.69L0.69,12L4,15.31V20H8.69L12,23.31L15.31,20H20V15.31Z" />
                    </svg>
                </a>
            </span>
            {% for item in site.data.navigation %}
                <a href="{{ item.link | relative_url}}" {% if page.url == item.link %} class="current"{% endif %}>{{ item.name }}</a>
            {% endfor %}
            <a href="https://github.com/scanapi/examples">Examples</a>

            <a href="https://github.com/marketplace/actions/scanapi">GitHub Action</a>

            <a href="https://marketplace.visualstudio.com/items?itemName=ScanAPI.scanapi">VS Code Plugin</a>

            <a class="nav-icon" href="https://twitter.com/scanapi_"> <img src="{{ "/assets/images/twitter.svg" | relative_url }}"></a>
            <a class="nav-icon" href="https://github.com/scanapi/scanapi"><img src="{{ "/assets/images/github-logo.svg" | relative_url }}"></a>
        </nav>

    </div>
</header>
